{% extends 'base.html' %}
{% load static %}

{% block title %}Заказать вышивку{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/order.css' %}">


<div class="order-container">
    <div class="order-header" id="orderHeader">
        <h1 id="headerTitle">📝 Заказать вышивку</h1>
        {% if user.is_authenticated %}
        <p id="headerSubtitle">Заполните форму ниже. Поля отмеченные <span style="color: #dc3545">*</span> обязательны
            для заполнения</p>
        <p id="headerWarning" class="headerWarning">Рекомендуется отправлять форму без использования VPN</p>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div>
            {{form.as_p}}
            <div class="form-group" style="text-align: center; margin-top: 30px;">
                <button type="submit" class="submit-btn" id="submitBtn">
                    <i class="fas fa-paper-plane"></i> Отправить заказ
                </button>
                <p style="color: #666; font-size: 0.9rem; margin-top: 10px;">
                    Нажимая кнопку, вы соглашаетесь на обработку персональных данных
                </p>
            </div>
        </div>
    </form>
    {% else %}
    <div class="about-format about-format--retail" style="text-align: center">
        <div class="about-format__header" style="justify-content: center;">
            <i class="fa-solid fa-user"></i>
            <h3>Необходимо авторизироваться</h3>
        </div>
        <p>После входа в аккаунт - вам будет доступна форма заказа</p>
        <button class="auth-btn" onclick="openAuthModal()" style="width:160px; margin: auto!important">
            <i class="fa-solid fa-right-to-bracket"></i> Авторизация
        </button>
    </div>

    {% endif %}

</div>
<div style="margin-top: 36px">
        {% include "include/footer.html" %}
    </div>

<script src="{% static 'main/js/order.js' %}"></script>
{% endblock %}

